* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    
    --branco: #fff;
    --preto: #000;
    --roxo: #4700CF;
    --laranja: #FFE76E;
    --roxo: #D6D1FF;
    --cinza: #F1F1F1;
}

body {
    background-color: var(--cinza);
}

/* HEADER */
header {
    width: 100%;
    background-color: #4700CF;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
    background-color: #4700cf;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
} 

#logo{
    width: 200px;
}

.links{
    /* background-color: #FFE76E; */
    display: flex;
    align-items: center;
    gap: 90px; 
}
.links a{
    font-size: 27px;
    color: #000000;
    text-decoration: none;
}

.links a:hover{
    color: #ffffff;
    border-bottom: 1px solid var(--branco);
}

#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}